# Machine learning approach

During this notebook, we are testing different ML algorithms to tackle hypoglycemia prediction problem

Import our class:

In [1]:
import sys
sys.path.append("..")
from scripts.window_regressor import Window_Regressor

Import some metrics to evaluate model's performance

In [2]:
from sklearn.metrics import mean_absolute_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

### Read data

In [3]:
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
data = pd.read_csv('../Data/Preprocessed/HUPA0003P.csv', sep=';')[['time', 'glucose']]

In [5]:
data['time'] = pd.to_datetime(data['time'])
data

                    time     glucose
0    2018-06-13 21:40:00  137.666667
1    2018-06-13 21:45:00  137.000000
2    2018-06-13 21:50:00  136.333333
3    2018-06-13 21:55:00  135.666667
4    2018-06-13 22:00:00  135.000000
...                  ...         ...
3765 2018-06-26 23:25:00  160.666667
3766 2018-06-26 23:30:00  158.000000
3767 2018-06-26 23:35:00  159.000000
3768 2018-06-26 23:40:00  160.000000
3769 2018-06-26 23:45:00  161.000000

[3770 rows x 2 columns]

## Random forest regressor

In [6]:
from sklearn.ensemble import RandomForestRegressor

In [7]:
random_forest = RandomForestRegressor(n_estimators=30)
## Initialize out class:
window_regressor = Window_Regressor(time_series_data=data['glucose'], window_size=4, horizon=5, test_size=0.2, model=random_forest)

In [8]:
window_regressor.generated_data_set

      Predictor_0  Predictor_1  Predictor_2  Predictor_3      Target
0      137.666667   137.000000   136.333333   135.666667  128.000000
1      137.000000   136.333333   135.666667   135.000000  123.000000
2      136.333333   135.666667   135.000000   134.333333  118.000000
3      135.666667   135.000000   134.333333   133.666667  118.000000
4      135.000000   134.333333   133.666667   133.000000  118.000000
...           ...          ...          ...          ...         ...
3757   172.000000   172.666667   173.333333   174.000000  160.666667
3758   172.666667   173.333333   174.000000   171.333333  158.000000
3759   173.333333   174.000000   171.333333   168.666667  159.000000
3760   174.000000   171.333333   168.666667   166.000000  160.000000
3761   171.333333   168.666667   166.000000   163.333333  161.000000

[3762 rows x 5 columns]

Fit and predict:

In [9]:
window_regressor.fit_predict()

Index(['Predictor_0', 'Predictor_1', 'Predictor_2', 'Predictor_3', 'Target'], dtype='object')

In [10]:
y_pred, y_true = window_regressor.y_pred, window_regressor.y_true