# Machine learning approach

During this notebook, we are testing different ML algorithms to tackle hypoglycemia prediction problem

In [10]:
import sys
sys.path.append("..")
from scripts.window_regressor import Window_Regressor

## Random Forest regressor

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
import pandas as pd

### Read data

In [12]:
data = pd.read_csv('../Data/Preprocessed/HUPA0003P.csv', sep=';')[['time', 'glucose']]

In [13]:
data['time'] = pd.to_datetime(data['time'])
data

                    time     glucose
0    2018-06-13 21:40:00  137.666667
1    2018-06-13 21:45:00  137.000000
2    2018-06-13 21:50:00  136.333333
3    2018-06-13 21:55:00  135.666667
4    2018-06-13 22:00:00  135.000000
...                  ...         ...
3765 2018-06-26 23:25:00  160.666667
3766 2018-06-26 23:30:00  158.000000
3767 2018-06-26 23:35:00  159.000000
3768 2018-06-26 23:40:00  160.000000
3769 2018-06-26 23:45:00  161.000000

[3770 rows x 2 columns]

In [14]:
model = RandomForestRegressor(n_estimators=30)
window_regressor = Window_Regressor(time_series_data=data['glucose'], window_size=4, horizon=6, model=model)
window_regressor.generate_data_set()

In [15]:
data_set = window_regressor.generated_data_set